body{
    margin:0;
    padding:0;
    background: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

h1{
    margin: 10px 0px;
    font-family: 'Dancing Script', cursive;
    color: #ec0c0c;
}

p{
    padding: 3px 5px;
}
input{
    padding:0 0 3px 5px;
}

form{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.signupbox{

    width: 320;
    height: 350;
    background: #000;
    color: #fff;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 10px 30px;
    margin-top: 15px;



}
.avatar{
    width: 2905px;
    height: 85px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 60px;
    bottom: 30px;
    padding: .034px 70px;
    padding-left: 70px;
} 

.h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}


.signupbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.signupbox input{
     width:100%;
     margin-bottom: 20px;

}


.signupbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size:16;
}

.signupbox input[type="submit"]{
    border:none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}



.button {
    background-color: #c9452e; /* Green */
    border: none;
    color: white;
    margin: 4px 10px 20px 2px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #ec0c0c;
  }
  
  .button1:hover {
    background-color: #f03202;
    color: white;
  }
  